.spacer {
  flex: 1;
}

.toolbar1 {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  font-weight: 600;
}
/*
  .toolbar1 img {
    margin: 0 16px;
  }

  .toolbar1 #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar1 #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

    .toolbar1 #twitter-logo:hover,
    .toolbar1 #youtube-logo:hover {
      opacity: 0.8;
    }*/
    .icon-search{
      width:20px; 
      background-color:red;
      margin:0;
      padding:0;
      
    }
   /*.searchButton{
    height:20px;
    margin:0;
   }*/
.searchText {
    height:20px;
    width:50%;
    margin:0;
    background-color:forestgreen;
}
/*input[type="search"] {
  padding-right: 32px;
}

.search-container {


 
}

  .search-container > input[type="search"] + span {
   
  }*/

