<div class="toolbar1">
  <img width="100"
       alt="Angular Logo"
       src="\assets\greenleafy.png" />
  <div class="spacer"></div>
  <div class="wrap">
    <form action="" method="get">
      <div class="">
        <input type="text" class="searchText" name="search" placeholder="What are you looking for?">
        <button type="submit" class="searchButton">
          <mat-icon class="icon-search">search_app</mat-icon>

        </button>
      </div>
      <!--<div class="">
        <div class="searchText">
          <input type="text" >
        </div>
        <div class="icon-search"> <mat-icon>search_app</mat-icon></div>
        
      </div>-->
    </form>
  </div>
  <div class="spacer"></div>

</div>

