.spacer {
  flex: 1;
}

.toolbar1 {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: grid;
  align-items: center;
  /*font-weight: 600;*/
  grid-template-columns: 100px 1fr;
}
.outer {
  display: grid;
  grid-template-columns: 5fr  5fr;
  /*grid-template-rows: 25px;*/
}

.search-icon {
  /*width: 30px;*/
  background-color: #689e4a;
  margin: 0;
  padding: 0;
  color: white;
  border: 0;
}

.search-text {
  border: 0;
  background-color: #eff2ed;
}

.search {
  display: grid;
  grid-template-columns: 2fr 30px;
  grid-template-rows: 25px;
  max-width: 300px;

  align-self:center;
}
.login {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.my-button {
  max-width: 100px;
}
