<div class="toolbar1">
  <img width="100"
       alt="Angular Logo"
       src="\assets\greenleafy.png" />
  <div class="spacer"></div>
  <div class="wrap">
    <form action="https://greenleafy.co.in/Search/index" method="get">
      <div class="search">
        <input type="text" class="searchTerm" name="search" placeholder="What are you looking for?">
        <button type="submit" class="searchButton ">
          <i class="fa fa-search"></i>
        </button>
        <a href="https://greenleafy.co.in/Productpage/sellAnItem" class="sell-mob-btn">  <span>Sell</span></a>
      </div>
    </form>
  </div>
  <div class="spacer"></div>
  <button class="navbar-toggler n2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:white; font-size:28px;"></i></span>
  </button>
  <div class="spacer"></div>
</div>
