<div class="toolbar1">
  <img width="100"
       alt="Angular Logo"
       src="\assets\greenleafy.png" />
  <div class="spacer"></div>
  <div class="wrap">
    <form action="" method="get">
      <div class="search">
        <input type="text" class="" name="search" placeholder="What are you looking for?">
        <button type="submit" class="searchButton i ">
          <mat-icon class="">search_app</mat-icon>
        </button>
        </div>
    </form>
  </div>
  <div class="spacer"></div>

</div>

