# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/green_leafy/dist
/green_leafy/tmp
/green_leafy/out-tsc
/green_leafy/bazel-out

# Node
/green_leafy/node_modules
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio
.vs/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/green_leafy/.angular/cache
.sass-cache/
/green_leafy/connect.lock
/green_leafy/coverage
/green_leafy/libpeerconnection.log
testem.log
/green_leafy/typings

# System files
.DS_Store
Thumbs.db
