<input type="text" class="form-control" id="name" required [(ngModel)]="data.name" />

<p>phone-list works!</p>

<p>Hello 1 {{ data.name }}!</p>


<p><input type="number" class="form-control" id="name" required [(ngModel)]="data.name" /></p>
<p><input type="number" class="form-control" id="name" required [(ngModel)]="data.name" /></p>
<p><button type="button" mdbBtn color="primary" mdbWavesEffect>ADD</button></p>
<p><input type="number" class="form-control" id="name" required [(ngModel)]="data.name" /></p>
